body {
    font-family: Roboto, sans-serif;
}

.header {
    height: 10vh;
    min-height: 120px;
    width: 100vw;
    background-color: black;

    margin: -8px -8px 8px;

    border-bottom: solid 15px #00f7c2;

    position: relative;
}

.title {
    width: 100%;

    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    letter-spacing: 0.6px;

    position: absolute;
    bottom: 0;
}

.x {
    font-size: 5rem;
    color: #00f7c2;
}

.player-info {
    width: calc(10 * 100% / 12);
    margin: 2.5rem auto;

    display: grid;
    grid-template-areas: "avatar name withdraw" "avatar score withdraw ";
    grid-template-columns: 2fr 7fr 1fr;
    align-items: center;
}

.avatar {
    border: solid 0.25rem black;
    border-radius: 0.5rem;
    box-shadow: -1.25rem 1.25rem 0.25rem 0 rgba(0, 0, 0, 0.5);

    margin: auto;

    grid-area: avatar;
}

.player-name {
    padding: 1rem;
    grid-area: name;
    font-size: 2.75rem;
    margin: auto;
}

.player-score {
    padding: 1rem;
    grid-area: score;
    font-size: 2.75rem;
    font-weight: bold;
    margin: auto;
}

.withdraw {
    grid-area: withdraw;

    display: block;

    border-radius: 0.5rem;
    border: solid 0.0625rem black;

    width: 6.5rem;
    height: 2.5rem;
    line-height: 2.5rem;

    align-self: end;
    justify-self: end;

    text-align: center;
    text-decoration: none;

    font-size: 1rem;
    color: black;
}

.log {
    width: calc(10 * 100% / 12);
    border: solid 6px black;

    display: grid;
    grid-template-areas: "number question result points" "number answer result points";
    grid-template-columns: 2fr 6fr 1fr 1fr;

    align-items: center;

    margin: 0.75rem auto;
    padding: 1rem;

    font-size: 1.5rem;
}

.number {
    grid-area: number;
    padding: 1rem;
    margin: auto;
}

.question {
    grid-area: question;
    padding: 1rem;
    text-transform: initial;
}

.response {
    grid-area: answer;
    padding: 1rem;
}

.result {
    grid-area: result;
    width: 44px;
    height: 44px;
    margin: auto;
}

.INCORRECT .result {
    background-image: url("../images/cancel.svg");
    width: 44px;
    height: 45px;
}

.CORRECT .result {
    background-image: url("../images/check.svg");
    width: 44px;
    height: 44px;
}

.ERROR_4XX .result {
    background-image: url("../images/warning.svg");
    width: 42px;
    height: 36px;
}

.STATUS_5XX .result {
    background-image: url("../images/warning.svg");
    width: 42px;
    height: 36px;
}

.UNCONTACTABLE .result {
    background-image: url("../images/warning.svg");
    width: 42px;
    height: 36px;
}

.points {
    grid-area: points;
    padding: 1rem;
    font-weight: bold;
}

.answer {
    display: none;
    padding: 1rem;
}

a {
    color: green;
}

.add-player {
    position: absolute;
    top: 5vh;
    right: calc(1vw / 12);

    width: 6.66rem;
    height: 3rem;

    border-radius: 10px;
    border: solid 1px #ffffff;

    font-size: 1.5rem;
    font-weight: 500;
    color: #ffffff;
    text-decoration: none;
    line-height: 3rem;

    text-align: center;
}

.leaderboard {
    position: relative;
    width: 100vw;
    margin: 2rem auto;
}

.top-three .scorecard {
    box-shadow: -20px 30px 4px 0 rgba(0, 0, 0, 0.5);
    border: solid 7px #0f0f0f;
    border-radius: 4vw;
    background-color: #ffffff;
}

.top-three {
    position: relative;
    /*height: calc(50vh + 4rem);*/
    /*min-height: calc(400px + 4rem);*/
    /*max-height: calc(600px + 4rem);*/
    overflow: hidden;
    margin: calc(100vw / 24);
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.pos1, .pos2, .pos3 {
    width: calc(3 * 100vw / 12);
    margin: 2rem calc(100vw / 24);
}

.pos1 .scorecard {
    min-height: 500px;
    height: 50vh;
    max-height: 625px;
}

.pos2 .scorecard {
    background-color: #dedede;
    min-height: 400px;
    height: 40vh;
    max-height: 500px;
}

.pos3 .scorecard {
    min-height: 320px;
    height: 30vh;
    max-height: 400px;
}

.avatar-round {
    border: solid 5px #0f0f0f;
    border-radius: 50%;
    alignment: center;
    margin: 1rem auto;
    display: block;
}

.pos1 .name, .pos2 .name, .pos3 .name {
    width: 100%;
    font-size: 2.75rem;
    line-height: 1.33;
    text-align: center;
}

.pos1 .position, .pos2 .position, .pos3 .position {
    width: 100%;
    font-size: 2.75rem;
    font-weight: 900;
    line-height: 4rem;
    text-align: center;
    height: 4rem;
}

.pos1 .score, .pos2 .score, .pos3 .score {
    width: 100%;
    font-size: 1.5rem;
    line-height: 1.33;
    text-align: center;
}

.lower-places .scorecard {
    width: calc(10 * 100% / 12);
    margin: 0.5rem auto;
    display: grid;
    grid-template-areas: "position name score";
    grid-template-columns: 2fr 6fr 2fr;

    border: solid 4px #0f0f0f;
    background-color: #ffffff;

    padding: 1rem;
}

.lower-places .position {
    grid-area: position;
    font-size: 24px;
}

.lower-places .name {
    grid-area: name;
    font-size: 24px;
}

.lower-places .score {
    grid-area: score;
    font-size: 24px;
}

