<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>

<div th:replace="~{header :: header}"></div>

<div class="player-info">
    <img class="avatar"
         src="https://api.adorable.io/avatars/160/none"
         th:src="@{https://api.adorable.io/avatars/160/${player.name}}"
    >

    <div class="player-name" th:text="'Hello, '+${{player.name}}"></div>
    <div class="player-score" th:text="${{player.score}} +' PT'">YXXX pts</div>

    <a class="withdraw" id="withdraw" th:href="${(#mvc.url('PC#withdrawPlayer').arg(0, player.id)).build()}">
        Withdraw
    </a>
</div>


<div>
    <div class="log"
         th:classappend="${log.result}"
         th:each="log : ${player.logs}"
    >
        <div class="number" th:text="${{logStat.count}} + '.'">count</div>
        <div class="question" th:text="${log.question}">question</div>
        <div class="answer" th:text="${log.answer}">answer</div>
        <div class="response" th:text="${log.response}">response</div>
        <div class="result">
        </div>
        <div class="points" th:text="${{log.points}}+' pt'">points</div>
    </div>
</div>

</body>

</html>
