<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Refresh" th:content="'5; url='+${(#mvc.url('PC#getPlayer').arg(0, player.id)).build()}" />
</head>

<body>

<div th:replace="~{header :: header}"></div>

<h1 class="message">Player added - Thanks</h1>

<p>
    You can view your personal log page by
    <a th:href="${(#mvc.url('PC#getPlayer').arg(0, player.id)).build()}">following this link</a>
    don't close that tab!
</p>

<p>You will be automatically redirected in 5 seconds.</p>

</body>

</html>


